---
import Logo from "../assets/hlavne_logo-transparent-white 1.png";
import { Image } from 'astro:assets';
import Facebook from "../assets/Facebook.png";
import Instagram from "../assets/Instagram.png";
import advance from "../assets/advance.png";
const { title, currentPage } = Astro.props;


---

<script>
  document.addEventListener('DOMContentLoaded', () => {
      const scrollToTopButton = document.getElementById('scroll-to-top');
      if (scrollToTopButton) {
          scrollToTopButton.addEventListener('click', () => {
              // Scrolls to the top of the page
              window.scrollTo({
                  top: 0,
                  behavior: 'smooth' // Makes the scroll smooth
              });
          });
      }
      
  });
</script>

<footer class="bg-[#1E1E1E] h-auto lg:h-[618px] flex justify-between items-center w-[100%] overflow-hidden mt-20" >
  <div class="max-w-[88%] mx-auto px-4 lg:flex justify-between items-center w-[100%] h-full flex-col lg:flex-row desktopFooter hidden"> 
    <div class="flex flex-col justify-center  h-full  "  >
      <div class="w-[99px] h-[27px] md:w-auto md:h-auto">
        <Image src={Logo} alt="logo"/>
      </div>
        
        <div class="flex flex-col w-[601px] mt-20">
            <div class="flex  gap-48">
                <div class="text-[#E9E5E5] font-dm-sans text-4xl font-bold leading-[4.5rem] tracking-[-0.057rem]">
                    DOMOV
                  </div>
                  <div class="text-[#E9E5E5] font-dm-sans text-4xl font-bold leading-[4.5rem] tracking-[-0.057rem]">
                    PROJEKTY
                  </div>
                  
            </div>
            <div class="flex gap-50 ">
                <div class="text-[#E9E5E5] font-dm-sans text-4xl font-bold leading-[4.5rem] tracking-[-0.057rem]">
                    SLUŽBY
                  </div>
                  <div class="text-[#E9E5E5] font-dm-sans text-4xl font-bold leading-[4.5rem] tracking-[-0.057rem]">
                    BLOG
                  </div>
                  
            </div>

        </div>

        <div class="flex w-[601px] gap-24 mt-20">
            <div class="flex">
                <div class="text-[#E9E5E5] font-dm-sans text-xl font-light leading-[1.875rem] tracking-[-0.024rem] capitalize">
                    Naše Kancelárie
                  </div>
                
            </div>
            <div class="flex gap-8 ">
                <div class="text-[#E9E5E5] font-dm-sans text-xl font-light leading-[1.875rem] tracking-[-0.024rem] capitalize">
                    Bratislava
                  </div>
                  <div class="text-[#E9E5E5] font-dm-sans text-xl font-light leading-[1.875rem] tracking-[-0.024rem] capitalize">
                    Levoča
                  </div>
                  <div class="text-[#E9E5E5] font-dm-sans text-xl font-light leading-[1.875rem] tracking-[-0.024rem] capitalize">
                    Martin
                  </div>
                  
            </div>
        </div>
        <div class="flex  gap-28 mt-20">
            <div class="text-[#E9E5E5] font-dm-sans text-xl font-bold leading-[1.875rem] tracking-[-0.024rem]">
                Zásady o ochrane súkromia
              </div>
              <div class="text-[#E9E5E5] font-dm-sans text-xl font-bold leading-[1.875rem] tracking-[-0.024rem]">
                Zásady spracúvania súborov cookie
              </div>
                            
        </div>
    </div>
    <div class="flex flex-col justify-center items-end w-[30%] h-full ">
        <div class="flex gap-2 cursor-pointer " id="scroll-to-top">
            <div  class="text-[#E9E5E5] font-dm-sans text-sm font-light leading-[1.5rem] tracking-[-0.019rem] underline decoration-solid decoration-auto underline-offset-[45%]">
                NASPÄŤ HORE
              </div>
              <Image src={advance} alt="hore"/>
        </div>
        <div class="flex flex-col mt-14">

            <div class="flex justify-between gap-10 items-end">
                <div class="text-[#636363] font-dm-sans text-xl font-light leading-[1.875rem] tracking-[-0.024rem]">
                    Socials:
                  </div>
                  
                <div class="flex gap-6">
                    <div class="w-[63px] h-[63px] border border-[#E9E5E5] bg-[rgba(233,233,233,0.10)] flex justify-center items-center">
                    <Image src={Facebook} alt={"facebook"}/>
                    </div>
                    <div class="w-[63px] h-[63px] border border-[#E9E5E5] bg-[rgba(233,233,233,0.10)] flex justify-center items-center">
                    <Image src={Instagram} alt={"instagram"}/>
                    </div>
                </div>
            </div>
            <div class="flex justify-between gap-10 mt-1">
                <div class="text-[#636363] font-dm-sans text-xl font-light leading-[1.875rem] tracking-[-0.024rem]">
                    Telephone: 
                  </div>
                  <div class="text-[#E9E5E5] font-dm-sans text-xl font-light leading-[1.875rem] tracking-[-0.024rem]">
                    +421 901 774 764
                  </div>
                  
            </div>
            <div class="flex justify-between  gap-10 mt-1">
                <div class="text-[#636363] font-dm-sans text-xl font-light leading-[1.875rem] tracking-[-0.024rem]">
                    Email: 
                  </div>
                  <div class="text-[#E9E5E5] font-dm-sans text-xl font-light leading-[1.875rem] tracking-[-0.024rem]">
                    info@lavarch.com
                  </div>
                  
            </div>
        </div>
        <div class="text-[#E9E5E5] font-dm-sans text-xl font-light leading-[1.875rem] tracking-[-0.02375rem] mt-16 -ml-6">
            LAVARCH s.r.o.<br>Ruskinovská 13, Levoča<br>IČO: 51020238<br>IČ DPH: SK2120568681
          </div>
          
          <div class="text-[#E9E5E5] font-dm-sans text-xl font-light leading-[1.875rem] tracking-[-0.02375rem] mt-[88px] -ml-12">
            Copyright © LAVARCH 2025
          </div>
          
          
    </div>
    </div>

    <!--mobile footer -->
    <div class="max-w-[88%] mx-auto px-4 flex justify-between items-center w-[100%] h-full flex-col lg:hidden mobileFooter mt-16">
      <div class="flex justify-between items-center w-full">
        <div class="w-[99px] h-[27px] md:w-auto md:h-auto">
          <Image src={Logo} alt="logo"/>
        </div>
        <div class="flex gap-2 cursor-pointer " id="scroll-to-top">
          <div class="text-[#e9e5e5] text-base font-light font-['DM Sans'] underline leading-normal">NASPÄŤ HORE</div>
            <Image src={advance} alt="hore"/>
      </div>
      </div>
      <div class="flex justify-between w-[100%] mt-16">
        <div class="flex-col">
          <div class="text-[#e9e5e5] text-[32px] font-bold font-['DM Sans'] leading-[48px]">DOMOV</div>  
          <div class="text-[#e9e5e5] text-[32px] font-bold font-['DM Sans'] leading-[48px] mt-6">SLUŽBY</div>
        </div>
        <div class="flex-col justify-between">
          <div class="text-[#e9e5e5] text-[32px] font-bold font-['DM Sans'] leading-[48px]">PROJEKTY</div>
          <div class="text-[#e9e5e5] text-[32px] font-bold font-['DM Sans'] leading-[48px] mt-6">BLOG</div>
        </div>
      </div>

      <div class="flex gap-8 w-[100%] mt-16">
        <div class="flex-col">
          <div class="text-[#626262] text-base font-light font-['DM Sans'] leading-normal">Telefón:</div> 
          <div class="text-[#626262] text-base font-light font-['DM Sans'] leading-normal mt-4">Email:</div>
        </div>
        <div class="flex-col justify-between">
          <div class="text-[#e9e5e5] text-base font-light font-['DM Sans'] leading-normal">+421 901 774 764</div>
          <div class="text-[#e9e5e5] text-base font-light font-['DM Sans'] leading-normal mt-4">info@lavarch.com</div>
        </div>
      </div>

      <div class="flex w-full justify-start gap-7 mt-4">
        <div class="w-[57px] h-[57px] bg-[#e9e9e9]/10 border border-[#e9e5e5] flex justify-center items-center">
          <Image src={Facebook} alt={"facebook"}/>
                    
                    
        </div>
        <div class="w-[57px] h-[57px] bg-[#e9e9e9]/10 border border-[#e9e5e5] flex justify-center items-center">
          <Image src={Instagram} alt={"instagram"}/>
        </div>
      </div>

      <div class="flex justify-between w-[100%] mt-12">
        <div class="text-[#e9e5e5] text-base font-light font-['DM Sans'] capitalize leading-normal">Naše kancelárie:</div>
        <div class="flex gap-3.5">
          <div class="text-[#e9e5e5] text-base font-light font-['DM Sans'] leading-normal">Bratislava</div>
          <div class="text-[#e9e5e5] text-base font-light font-['DM Sans'] leading-normal">Levoča</div>
          <div class="text-[#e9e5e5] text-base font-light font-['DM Sans'] leading-normal">Martin</div>
        </div>
        

      </div>

      <div class="flex flex-col gap-3 items-center mt-6">
        <div class="text-[#626262] text-center font-bold font-['DM Sans'] leading-normal">Zásady spracúvania súborov cookie</div>
        <div class="text-[#626262] text-center font-bold font-['DM Sans'] leading-normal ">Zásady o ochrane súkromia</div>
      </div>
      <div class="flex flex-col gap-3 items-center mt-8">
        <div class="text-[#e9e5e5] text-xs font-light font-['DM Sans'] leading-[18px]">Copyright © LAVARCH 2025</div>
      </div>
      <div class="flex flex-col gap-3 items-center mt-8">
        <div class="text-neutral-600 text-base font-extrabold font-['Neue Plak'] leading-normal">made by efe.studio</div>
      </div>
      
    </div>
    
   
    
</footer>

<style>

</style>
